*{
    box-sizing: border-box;
}

body{
  background: linear-gradient(to top, rgb(23, 173, 128), rgb(2, 43, 9));
  background-repeat: no repeat;
  background-attachment: fixed;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl5OPhqj0m9hB_RjEycBKBb6vILO4EiGqHbA&usqp=CAU);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(18, 112, 19);
color: snow;
}

.name{
    font-size: 3.5rem;
    color: rgb(20, 21, 20);
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    font-size: x-large;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(9, 164, 9);
    padding: 2rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(47, 57, 58);
}

.quote{
    display: flex;
    justify-content: center;
    font-size: x-large;
}