*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: darkgreen;
color: snow;
}

.name{
    font-size: 3.5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    font-size: x-large;
}

.navbar-links li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 2rem;
    display: block;
}

.navbar-links li:hover {
    background-color: silver;
}